/* Colors */

.text-primary {
  color: #000;
}
.text-light {
  color: #fff;
}

.hsl-blue {
  color: #007ac9;
}
.hsl-dark-blue {
  color: #0062a1;
}
.hsl-tram-green {
  color: #00985f;
}
.hsl-metro-orange {
  color: #ff6319;
}
.hsl-rail-purple {
  color: #8c4799;
}
.hsl-ferry-blue {
  color: #00b9e4;
}
.hsl-walk-teal {
  color: #6ba3af;
}
.hsl-pink {
  color: #f092cd;
}

#map {
    position: absolute;
    width: 100%;
    height: 80vh;
}

.fixed-bottom {
    position:fixed;
    left: 0px;
    bottom: 0px;
    height: 3em;
    width: 100%;
    background-color: white;
}

.dateOrTimePicker{
    width: 50px;
}

.formLabel{
    font-size: 150%;
}

.hotel-selector{
    position:fixed;
    left: 0px;
    bottom: 0px;
    height: 20vh;
    width: 100%;
}

.slider-decorator-2 {
    display: none
}
