.heading-center {
    text-align: center;
    margin: 20px;
}

.header-home-form-panel {
    margin: 20px;
}

.home-form-panel {
    border: 1px solid #b4adad;
    box-shadow: 1px 1px 10px #888888;
    margin-top: 20px;
}

.home-form-status-icon-error {
    margin-right: 20px;
    color: #d9534f;
}

.home-form-status-icon-success {
    margin-right: 20px;
    color: #5cb85c;
}

.home-form-progress-bar {
    margin-top: 30px;
}

.stepperi {
    margin-top: 10px;
}

.mapholder {
    height: 350px;
    margin-bottom: 25px;
}

#map {
    width:100%;
    height: auto;
    box-shadow: 0.5px 0.5px 5px #888888;
    position:absolute;
    top:0;
    bottom:0;
}

.homeFormRadioButtonGroup {
    margin: 10px;
}

.spanAfterMUITextField {
    position: absolute;
    top:40px;
}

.dropZoneCenter {
    text-align: center;
    vertical-align: middle;
    margin-top: 50px;
    color: #adb1b5;
}

.col-centered{
    float: none;
    margin-right: auto;
    margin-left: auto;
}

.thumb{
    margin-bottom: 30px;
}

.drop-zone-custom{

}

.drop-zone-container{
    display: table;
    margin: 0 auto;
}