/* Colors */

.text-primary {
  color: #000;
}
.text-light {
  color: #fff;
}

.hsl-blue {
  color: #007ac9;
}
.hsl-dark-blue {
  color: #0062a1;
}
.hsl-tram-green {
  color: #00985f;
}
.hsl-metro-orange {
  color: #ff6319;
}
.hsl-rail-purple {
  color: #8c4799;
}
.hsl-ferry-blue {
  color: #00b9e4;
}
.hsl-walk-teal {
  color: #6ba3af;
}
.hsl-pink {
  color: #f092cd;
}

/* Text */

h1 {
  margin-top: 20px;
  font-family: "Roboto";
  font-weight: 900;
  font-style: italic;
  font-size: 50px;
  letter-spacing: -1.5px;
  color: #007ac9;
  text-transform: uppercase;
  text-align: center;
}
.lead {
  text-align: center;
}

#map {
    position: absolute;
    width: 100%;
    height: 80vh;
}
.container {
  padding-left: 25px;
  padding-right: 25px;
}
.center-block {
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
}

.fixed-bottom {
    position:fixed;
    left: 0px;
    bottom: 0px;
    height: 3em;
    width: 100%;
    background-color: white;
}

.next-button {
  background-color: #007ac9;
  color: white;
  border: 0;
}

.next-button:focus {
  outline: 0;
}

.dateOrTimePicker{
    width: 50px;
}

.formLabel{
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
    line-height: auto;
}

.hotel-selector{
    position:fixed;
    left: 0px;
    bottom: 0px;
    height: 20vh;
    width: 100%;
}

.slider-decorator-2 {
    display: none
}
